header {
    background-color: rgb(48, 46, 46);
    color: white;
    font-size: 75px;
}

li {
    list-style-type: none;
}

.today {
    border-top: 1px solid rgb(70, 68, 68);
    border-bottom: 1px solid rgb(70, 68, 68);
    border-left: 1px solid rgb(70, 68, 68);
}

.forecastBox {
    background-color: rgb(24, 24, 92);
    color: white;
    border: whitesmoke 1px solid;
    border-radius: 25px;
}

.search-history {
    color: rgb(66, 64, 64);
}